<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042384710612-5mum9u65bbafqkb38fpv7ckmart15ra2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042384710612-5mum9u65bbafqkb38fpv7ckmart15ra2</string>
	<key>API_KEY</key>
	<string>AIzaSyCBShSy2icIAYXZAeRAskp4dd5Yx70EEtg</string>
	<key>GCM_SENDER_ID</key>
	<string>1042384710612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nimblehq.khanh.survey-ic</string>
	<key>PROJECT_ID</key>
	<string>survey-production-5654e</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-production-5654e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042384710612:ios:d9f0e619ed6c0a84de0441</string>
</dict>
</plist>