<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859927641745-pn5hpdeqsog4mnospccftgn7a089pf2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859927641745-pn5hpdeqsog4mnospccftgn7a089pf2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAhD-360LnB7HnqMZsmKwUNYRjj2xXp7r8</string>
	<key>GCM_SENDER_ID</key>
	<string>859927641745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nimblehq.khanh.survey-ic</string>
	<key>PROJECT_ID</key>
	<string>survey-359608</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-359608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859927641745:ios:d67ae5746cfda10e374930</string>
</dict>
</plist>